.page-title {
    font-size: 1.625rem;
    font-weight: 600;
}

.label-large-xl {
    font-size: 1.4rem;
    font-weight: 600;
}

.label-large {
    font-size: 1.25rem;
    font-weight: 600;
}

.label-medium-large {
    font-size: 1.125rem;
    font-weight: 600;
}

.label-medium {
    font-size: 1rem;
    font-weight: 500;
}

.pseudo-link {
    color: rgb(37 99 235);
    cursor: pointer;
}

.pseudo-link:hover {
    color: rgb(29 78 216);
    text-decoration: underline;
}

.custom-select {
    height: var(--default-button-height);
    padding: 0rem 1rem;
    border: 1px solid var(--default-border-color);
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(41, 41, 41, 0.1);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 0 0.2rem rgba(0,86,179,0.25);
}

.custom-search-input {
    height: var(--default-button-height);
    padding: 0.5em 1em;
    border: 1px solid var(--default-border-color);
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    font-size: 1rem;
}

.custom-page-selector {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--default-background-color);
    border: 1px solid var(--default-border-color);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(41, 41, 41, 0.1);
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.custom-table thead {
    height: 3rem;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid var(--default-border-color);
}

.custom-table tr {
    box-sizing: content-box;
    height: 3rem;
    border-bottom: 1px solid var(--default-border-color);
}

.custom-table td {
    height: 3rem;
    box-sizing: content-box;
    padding: 1rem;
}

.custom-table tbody {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
}

.user-avatar {
    background-color: #171717; 
    color: white;
    border-radius: 9999px;
    border: 1px solid #1a1a1a;
}

.user-avatar:hover {
    background-color: rgb(11, 11, 11);
}

.small-icon {
    height: var(--default-icon-height);
    color: var(--default-icon-color);
}

.small-icon-white {
    height: var(--default-icon-height);
    color: white;
}

.extra-small-icon {
    height: 0.75rem;
    color: var(--default-icon-color);
}

.page-header-bg {
    background-color: var(--page-header-bg-color);
}

.selected-item-color {
    color: var(--selected-item-color);
}

.selected-item-color-hover:hover {
    color: var(--selected-item-color);
}

.selected-border {
    border-bottom: 3px solid var(--selected-border-color);
}

.selected-border-hover:hover {
    border-bottom: 3px solid var(--selected-border-color);
}

.custom-switch {
    position: relative;
    display: inline-block;
    width: 3.25rem;
    height: 1.8rem;
}
  
.custom-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.custom-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
  
.custom-slider:before {
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .custom-slider {
    background-color: #1362d7;
}
  
input:focus + .custom-slider {
    box-shadow: 0 0 1px #1362d7;
}
  
input:checked + .custom-slider:before {
    transform: translateX(1.4rem);
}
  
  /* Optional: CSS for disabled state */
input:disabled + .custom-slider {
    background-color: #ddd;
}