.page-title {
    font-size: 1.75rem;
    font-weight: 600;
}

.label-large {
    font-size: 1.25rem;
    font-weight: 600;
}

.label-medium-large {
    font-size: 1.125rem;
    font-weight: 600;
}

.label-medium {
    font-size: 1rem;
    font-weight: 600;
}




.user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #171717; 
    color: white;
    border-radius: 9999px;
    border: 1px solid #1a1a1a;
}

.user-avatar:hover {
    background-color: rgb(11, 11, 11);
}

.small-icon {
    width: 15px;
    font-size: 15px;
}