
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; 
    padding: 16px;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    border-bottom: 1px solid #183775;
}