
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem; 
    padding: 16px;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
}

.list-header {
    padding: 0.5rem 0rem 2rem 0rem;
}