
.page-standard-horizontal-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    .page-standard-horizontal-padding {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}