@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --header-bg-color: #1b3e85;
    --header-bg-color-2: #0e204a;
    --header-text-color: white;
    --sidebar-bg-color: #171717;
    --sidebar-text-color: rgb(234, 234, 234);
    --sidebar-button-bg-color: #272727;
    --sidebar-button-text-color: white;
    --selected-tab-text-color: #0f6ada;

    --auth-button-bg-color: rgb(26, 34, 45);
    --auth-button-text-color: white;

    --default-border-color: rgb(209 213 219);
    
    --default-button-height: 2.25rem;
    --default-icon-height: 1rem;
}

body {
    font-family: Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
